<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="add">
        <div class="new-fields">
          <input type="text" class="form-control" placeholder="Full Name" ng-model="newAddress.name" />
          <input type="text" class="form-control" placeholder="Phone Number" ng-model="newAddress.phoneNumber" />
          <input type="text" class="form-control" placeholder="Street Address" ng-model="newAddress.street"/>
          <input type="text" class="form-control" placeholder="City/Town Name" ng-model="newAddress.town"/>
          <input type="text" class="form-control" placeholder="Zip Code" ng-model="newAddress.zipCode" />

        </br/>
          <button class="btn btn-primary danger" ng-click="addNew()">Add New Contact <span class="fa fa-plus-circle"></span></button>
        </div>
        <!-- <h2>Add New Address <a href="" class="fa fa-plus-circle"></a></h2> -->
      </div>
    </div>
  </div>
</div>
