body {
  font-family: Trebuchet, Helvetica, sans-serif; }

.false {
  background-color: cornflowerblue;
  padding: 5px;
  margin: 5px;
  color: #fbfbfb; }

.true {
  background-color: crimson;
  padding: 5px;
  margin: 5px;
  color: #fbfbfb; }
